﻿@{
    ViewBag.Title = "App";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/app/geo.js")"></script>
    <script src="@Url.Content("~/Scripts/app/map.js")"></script>
}

<section id="main">
    <header data-title="CityCycle">
        <a href="#main-nav" class="button onleft" data-target="aside" data-icon="items"></a>
        <a id="btn-search" href="#" class="button onright" data-icon="search"></a>
        
    </header>
    <article id="maparticle">
        <div id="search">
            <input type="text" placeholder="search" />
            <div class="results"></div>
        </div>
        <div id="map" style="height: 100%;"></div>
    </article>
    <article id="dashboard" class="scrollable">
        <table class="boxes">
            <tr>
                <td>
                    <div class="title">Time Left</div>
                    <div class="info">20:05</div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="title">Arrival Time</div>
                    <div class="info">9:20am</div>
                    <div class="extra">You are running late. Better pick up your pace.</div>
                </td>
            </tr>
        </table>
    </article>
    <article id="exercise" class="scrollable">
        <table class="boxes">
            <tr>
                <td>
                    <div class="title">Ride Time</div>
                    <div class="info">20:05</div>
                </td>
                <td>
                    <div class="title">Distance</div>
                    <div class="info">25 <small>km</small></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title">Speed</div>
                    <div class="info">25 <small>km/h</small></div>
                </td>
                <td>
                    <div class="title">Heart Rate</div>
                    <div class="info">189 <small><span class="icon heart"></span></small></div>
                </td>
            </tr>
            <tr>
                <td class="centre" colspan="2">
                    <div class="title">Callories</div>
                    <div class="info">200</div>
                </td>
            </tr>
            <tr>
                <td class="centre" colspan="2">
                    <div class="title">Today's Goal</div>
                    <div class="info"><meter value="0.85">85%</meter></div>
                    <div class="extra">Ride for 30km</div>
                </td>
            </tr>
    </table>
    </article>
    <article id="info" class="scrollable">
        <table class="boxes">
            <tr>
                <td>
                    <div class="title">Balance</div>
                    <div class="info">$30.00</div>
                </td>
                <td>
                    <div class="title">Subscription</div>
                    <div class="info">50 <small>days left</small></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="title">Weather</div>
                    <div class="info">Fantastic</div>
                    <div class="extra">Sunny and 30 degrees</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="title">Stations</div>
                    <div class="info">Closed</div>
                    <div class="extra">The CityCycle stations close after 11pm.</div>
                </td>
            </tr>
        </table>
    </article>
    <footer>
        <a id="btn-info" href="#info" class="button onleft" data-target="article" data-icon="info"></a>
        <a id="btn-stations" href="#" class="button onright">Hide Stations</a>
    </footer>
</section>
<aside id="main-nav" class="scrollable">
    <div>
        <div class="title">Select a option</div>
        <a href="#maparticle" data-target="article" data-icon="map">Plan Trip</a>
        <a href="#dashboard" data-target="article" data-icon="target">Dashboard</a>
        <a href="#exercise" data-target="article" data-icon="heart">Exercise</a>
        <a href="#info" data-target="article" data-icon="info">Info</a>
        <a href="@Url.Action("Index")" data-icon="remove">Logout
        </a>
    </div>
</aside>
