﻿@{
    ViewBag.Title = "Index";
}
<section id="login">
    <article id="login-article">
        <h1>CityCycle</h1>
        <div id="login-form">
            <input type="text" class="username" placeholder="Username" />
            <input type="password" class="password" placeholder="Password" />
            <a href="@Url.Action("App")" class="button big blue login">Login</a>
        </div>
        <div id="signup-button">
            <a href="#signup" class="button big blue" data-target="section">Sign Up</a>
        </div>
    </article>
</section>
<section id="signup">
    <header data-back="left" data-title="CityCycle - Sign Up"></header>
    <article id="details">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="email" placeholder="Email" />
        <input type="phone" placeholder="Phone" />
        <a href="#plan" class="button big blue" data-target="article">Next <span class="icon right">
        </span></a>
    </article>
    <article id="plan">
        <a href="@Url.Action("App")" data-target="article">
            <span class="subtype">No Subscription</span>
            <span class="price">Free</span>
        </a>
        <a href="#creditcard" data-target="article">
            <span class="subtype">Daily </span>
            <span class="price">$2</span>
        </a>
        <a href="#creditcard" data-target="article">
            <span class="subtype">Weekly</span>
            <span class="price">$11</span>
        </a>
        <a href="#creditcard" data-target="article">
            <span class="subtype">3 - Months </span>
            <span class="price">$27.50</span>
        </a>
        <a href="#creditcard" data-target="article">
            <span class="subtype">Annual </span>
            <span class="price">$67.50</span>
        </a>
    </article>
    <article id="creditcard" class="scrollable">
        <label class="select">
            <select class="custom">
                <option>Visa</option>
                <option>Master Card</option>
                <option>Amex</option>
            </select>
        </label>
        <input type="text" placeholder="Credit Card" />
        <input type="password" placeholder="CVC" />
        <a href="@Url.Action("App")" class="button big blue">Sign Up!</a>
    </article>
</section>
