﻿<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CityCycle</title>
        <meta name="description" content="">
        <meta name="author" content="John McKim">
        <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- For iPhone 4 with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/images/icon@2x.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/images/icon-72.png")">
        <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/images/icon.png")">
        <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/default.png")">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="@Url.Content("~/Content/lungo-1.2.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/lungo.theme.default.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/styles.css")">
    </head>

    <body class="app">
        @RenderBody()
        <!-- LungoJS (Production mode) -->
        <script src="@Url.Content("~/Scripts/libs/lungo-1.2.js")"></script>
        <script src="@Url.Content("~/Scripts/libs/underscore-min.js")"></script>
        <!-- LungoJS - Sandbox App -->
        <script src="@Url.Content("~/Scripts/app/stations.js")"></script>
        <script src="@Url.Content("~/Scripts/app/stationData.js")"></script>
        <script src="@Url.Content("~/Scripts/app/app.js")"></script>
        <script src="@Url.Content("~/Scripts/app/data.js")"></script>
        <script src="@Url.Content("~/Scripts/app/events.js")"></script>
        <script src="@Url.Content("~/Scripts/app/services.js")"></script>
        <script src="@Url.Content("~/Scripts/app/view.js")"></script>

        @RenderSection("Scripts", false);
    </body>
</html>