
h1 {
	font-size: 48px;
    text-align: center;
    margin: 30px
}

#login-form {
	margin: 30px;
}

#login-form > input.username {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 0px;
}

#login-form > input.password {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 0px;
}

#login-form > .login {
	margin-top: 10px;
}

#signup-button {
	margin: 10px 30px;
}




#search {
	position: relative;
}

#search .results {
	position: absolute;
	z-index: 5000;
	width: 100%;

	padding: 1px 5px;

	background-color: #FFF;
}

#search .results > div {
	border-bottom: 1px solid black;
}


#plan {
    text-align: center;
    padding: 0px 20px;
}

#plan a {
    display: table;
    margin: 15px 5px;
    width: 90%;
    background: none;
    
}

#plan a span {
    vertical-align: middle;
    display: table-cell;
    height: 40px;
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
}

#plan a .subtype {																																																																																																																														background-color: #237FD7;
	border-left: 1px solid black;
		
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-right: none;
}

#plan a .price {
	margin-left: 0px;
	 padding-left: 0px;
	background-color: #0055CC;
	border-left: 1px solid black;
	
	width: 35%;
		
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
}


#plan a:active  span.subtype{
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color:#1a69b6;
}

#plan a:active span.price {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color:#1a69b6;
}

.toHere {
	margin-top: 10px;
	font-size: 18px;
	text-decoration: underline;
	color: #1a69b6;
}

.boxes {
    
}

.boxes {
    width: 90%;
}

.boxes td {
    padding: 40px;
}

#exercise .boxes td {
    text-align: right;
}

.boxes td.centre {
	text-align: center !important;
}

.boxes div.title {
    height: 20px;
}

.boxes div.info {
    font-size: 40px;
}

.boxes div.info small {
    font-size: 20px;
}

.boxes div.extra {
	font-size: 18px;
}
